<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicExpresso.Core" version="2.9.5" targetFramework="net45" />
  <package id="MathParser.org-mXparser" version="4.4.2" targetFramework="net45" />
  <package id="OxyPlot.Core" version="2.1.0" targetFramework="net45" />
  <package id="OxyPlot.WindowsForms" version="2.1.0" targetFramework="net45" />
</packages>